body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F7FF;
}

.container {
    color: black;
    margin-top: 85px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.billing {
    font-size: 18px;
    font-weight: bold;
    width: auto;
    display: flex;
    margin-top: 40px;
}
.billing span{
    margin: 0 15px;
}

#offer-content{
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer{
    background-color: yellow;
    width: 360px;
    justify-content: center;
}

.offer-title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 32px;
}

.offer-pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.offer-price-symbole{
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}

.offer-price{
    font-size: 72px;
    font-weight: bold;
}

.offer-info{
    margin-top: 24px;
    justify-content: center;
}

hr{
    width: 296px;
}

.offer-text{
    font-size: 15px;
    text-align: center;
    margin: 18px 0;
}

.offer-button{
    width: 290px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: #6B6EDC;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
}

.offer-button:hover{
    border: 1px solid #6B6EDC;
    background-color: transparent;
}