body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F7FF;
}

.container {
    color: black;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

.billing {
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.billing span{
    margin: 0 15px;
}

input[type="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.toggle {
    height: 32px;
    width: 56px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    background: linear-gradient(315.46deg, #6B6EDC 0.77%, #A4A7E7 100%);   
    transition: all .2s ease;
}

.toggle:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggle:checked {
    border-color: #654FEC;
}

.toggle:checked:after {
    transform: translatex(24px);
}

#offer-content{
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer{
    width: 360px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-primary{
    background: linear-gradient(315.46deg, #6B6EDC 0.77%, #A4A7E7 100%);;
}

.offer-secondary{
    background-color: white;
}

.offer-left{
    border-radius: 10px 0px 0px 10px;
}

.offer-right{
    border-radius: 0px 10px 10px 0px;
}

.offer-title{
    font-size: 18px;
    font-weight: bold;
}

.offer-title-primary{
    color: white;
    margin-top: 54px;
}

.offer-title-secondary{
    color: black;
    margin-top: 32px;
}

.offer-pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.offer-price-symbole{
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}

.offer-price{
    font-size: 72px;
    font-weight: bold;
}

.offer-info{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-separator-primary, .offer-text-primary, .offer-pricing-primary{
    color: white;
}

.offer-separator-secondary, .offer-text-secondary, .offer-pricing-secondary{
    color: black;
}

.offer-separator{
    width: 296px;
    margin: 0;
}

.offer-text{
    font-size: 15px;
    margin: 18px 0;
}

.offer-button{
    width: 290px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    transition: 0.4s;
}

.offer-button-primary{
    margin: 30px 0 50px 0;
    color: #6B6EDC;
    background: white;
}

.offer-button-primary:hover{
    border: 1px solid white;  
    background: transparent;
    color: white;
}

.offer-button-secondary{
    margin: 32px 0;
    color: white;
    background: linear-gradient(315.46deg, #6B6EDC 0.77%, #A4A7E7 100%);    
}

.offer-button-secondary:hover{
    border: 1px solid #6B6EDC;  
    background: transparent;
    color: black;
}
  